/* Do not add any css, this is a bootstrap only assignment  */
.carousel-inner > .item {
      height: 400px; /* Example height, adjust as needed */
      background-color: #777; /* Example background color */
    }
    .first-slide {
      background-color: red;
    }
    .second-slide {
      background-color: blue;
    }
    .third-slide {
      background-color: green;
    }
    .fourth-slide {
      background-color: yellow;
    }
    .fifth-slide {
      background-color: orange;
    }